<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/petview.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fontawesome-all.min.css}">
</head>

<body>
<!-- Sidebar/menu -->
<div class="nav-side-menu">
    <div class="brand">
        <img th:src="@{/static/images/stewie.png}" class="rounded-circle" height="60px" width="60px"/><br>
        <span>Welcome! <strong th:text="${userInfo.getUsername()}"></strong></span><br>
        <a th:href="@{/logout}" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
        <hr class="border border-success bg-sucess">
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" aria-hidden="false" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <div class="nav-wrapper menu-content collapse out" role="navigation" id="menu-content">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link sidebar-option" th:href="@{/{type}/{id}(type=${userInfo.getType()}, id=${userInfo.getId()})}"><span><i class="fas fa-user-circle"></i></span> Overview</a>
                <a class="nav-link sidebar-option" th:href="@{/{type}/{id}/pets(type=${userInfo.getType()}, id=${userInfo.getId()})}"><span><i class="fab fa-github-alt"></i></span> Pets</a>
                <a class="nav-link sidebar-option active" th:href="@{__${#httpServletRequest.requestURI}__}"><span><i class="fas fa-user-md"></i></span> Doctor</a>
                <a class="nav-link sidebar-option" th:href="@{/{type}/{id}/search(type=${userInfo.getType()}, id=${userInfo.getId()})}"><span><i class="fas fa-history"></i></span> History</a>
                <a class="nav-link sidebar-option" href="#"><span><i class="far fa-newspaper"></i></span> News</a>
                <a class="nav-link sidebar-option" href="#"><span><i class="fas fa-cog"></i></span> Settings</a>
            </nav>
        </div>
    </div>
</div>
<!-- Main content -->
<div class="container-fluid pl-4 bg-light" id="main">
    <!-- Overview header -->
    <div class="row pt-5">
        <h5><b><i class="fas fa-user-md"></i> My Doctors</b></h5>
    </div>
    <div class="row pt-3" th:unless="${doctorList.isEmpty()}" th:each="doctor : ${doctorList}">
        <div class="container bg-light">
            <div class="row p-3 pet-card">
                <button class="btn btn-block btn-large btn-secondary text-left" data-toggle="collapse" th:attr="data-target='#general'+${doctor.getUsername()}">
                    <img th:src="@{/static/images/doctor.jpg}" class="rounded-circle" width="35px">
                    <h4 class="d-inline pl-5"><i th:text="${doctor.getUsername()}"></i></h4>
                </button>
                <div class="container collapse pt-3" th:id="${'general'+ doctor.getUsername()}">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <p class="col-2">Name:</p>
                                <p class="col-10" th:text="${doctor.getUsername()}"></p>
                            </div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" th:attr="data-target='#shareModal'+${doctor.getUsername()}">
                                Share Pet Information
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" th:id="${'shareModal'+doctor.getUsername()}" tabindex="-1" role="dialog" th:attr="aria-labelledby='shareModalLabel'+${doctor.getUsername()}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form th:object="${pet}" class="modal-content" th:action="@{__${#httpServletRequest.requestURI}__/sharePet}" method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Share Pet Information</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="btn-group" data-toggle="buttons" th:unless="${userInfo.getPets().isEmpty()}" th:each="pet : ${userInfo.getPets()}">
                                                <label class="btn btn-primary active" th:attr="data-target='#general'+${pet.getName()}">
                                                    <input type="checkbox"/><i th:text="${pet.getName()}"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Share</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Endsidebar -->
<script>
    $(".upload-file").change(function () {
        var label = $(this).next();
        var index = $(this).val().lastIndexOf("\\");
        label.text($(this).val().substring(index+1));
    });
</script>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/nav_set_active.js}"></script>
</body>
</html>
